html,
body {
	width: 100%;
	height: 100%;

	font-family: $fonts;
	font-weight: 300;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: $gray;
}

.content-wrap {
	padding-top: 15px;

	p {
		font-size: $body-lg;
	}

	legend {
		display: block;
		width: auto;
		padding: 0 5px;
		line-height: inherit;
		border: auto;
		border-bottom: none;
		color: $red;
		font-size: $body-lg;
		font-weight: 300;
	}

	fieldset {
	  border: 1px solid $red;
	  padding: 0 15px 20px 15px;
	  
	  span {
	  	padding-left: 10px;
	  }
	}

	label {
		font-family: $fonts;
		font-size: $body-sm;
		font-weight: 400;

		color: $black;
	}

	.hidden {
		display: none
	}

	.success-msg {
		color: $green;
	}

	.error-msg {
		color: $error-red;
	}

	.full-width {
		width: 100%;
	}

	.react-selectize.root-node {
		width: auto;
		
		.react-selectize-control {
			background-color: #fff;
		}
		
		.react-selectize-reset-button-container {
			margin-right: 5px;
		}
	}

	.selectize-option {
		font-size: $body-sm;
		padding: 5px 5px;
		margin-right: 5px;
		color: $black;
	}

	.selectize-option-empty {
		@extend .selectize-option;

		font-size: $body-xs;
		color: $dark-gray;
	}

	.selectize-item {
		cursor: pointer;
		padding: 2px 5px;
		color: $black;
		background-color: $gray;
		border-radius: 3px;
	}
}