$font-size: 14px;
$help-size: 12px;

.rating-form {
	font-size: $font-size;
	padding-left: 5px;
	padding-right: 5px;

	.star {
		display: inline;
		padding: 5px 1px;
		color: $red;
		font-size: 24px;
	}

	.form-component {
		padding: 0;
		padding-bottom: 25px;
	}

	.help-block {
		font-size: $help-size;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
	}

	.glyphicon:hover {
		cursor: pointer;
	}

	.feedback-wrap {
		margin: 10px auto;
	}
}


