@import "vars";

.rating-form {
	font-size: $body-sm;

	.star {
		display: inline;
		padding: 5px 1px;
		color: $red;
		font-size: 24px;
	}

	label {
		font-family: $fonts;
		font-size: $body-sm;
		font-weight: 400;

		color: $black;
	}

	.form-component {
		padding: 0;
		padding-bottom: 25px;
	}

	.help-block {
		font-size: $body-xs;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0;
	}

	.glyphicon:hover {
		cursor: pointer;
	}

	.feedback-wrap {
		margin: 10px auto;
	}
}


