// global variables and mixins

// colors
$red: #c0392b;
$dark-red: #96281B;
$error-red: #a94442;
$gray: #ecf0f1;
$dark-gray: #737373;
$black: #333;
$green: #3c763d;
$facebook-blue: #4267b2;
$link-blue: #337ab7;
$link-hover-blue: #23527c;

// fonts
$fonts: "Helvetica Neue", Helvetica, Arial, sans-serif;

// header height
$header-height: 70px;

// card styles
$card-border-radius: 5px;
$card-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);

// bootstrap breakpoints
$xs-width: 480px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;

@mixin media-xs {
	@media (max-width: #{$xs-width}) {
		@content
	}
}
@mixin media-sm {
	@media (max-width: #{$sm-width}) {
		@content
	}
}
@mixin media-md {
	@media (max-width: #{$md-width}) {
		@content
	}
}
@mixin media-lg {
	@media (max-width: #{$lg-width}) {
		@content
	}
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}