// global variables and mixins

// colors
$red: #c0392b;
$error-red: #a94442;
$gray: #ecf0f1;
$dark-gray: #737373;
$black: #333;
$green: #3c763d;

// fonts
$fonts: "Helvetica Neue", Helvetica, Arial, sans-serif;
$page-header: 40px;
$header-xl: 48px;
$header-lg: 32px;
$header-md: 26px;
$header-sm: 22px;
$body-lg: 18px;
$body-md: 16px;
$body-sm: 14px;
$body-xs: 12px;

// card styles
$card-border-radius: 5px;
$card-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);

// bootstrap breakpoints
$xs-width: 480px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;

@mixin media-xs {
	@media (max-width: #{$xs-width}) {
		@content
	}
}
@mixin media-sm {
	@media (max-width: #{$sm-width}) {
		@content
	}
}
@mixin media-md {
	@media (max-width: #{$md-width}) {
		@content
	}
}
@mixin media-lg {
	@media (max-width: #{$lg-width}) {
		@content
	}
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}