@import "vars";

$card-box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

.card {
	background-color: white;
	width: 80%;
	margin: 20px auto;
	padding: 25px 15px;

	box-shadow: $card-box-shadow;

	&.last-card {
		margin-bottom: 40px;
	}
}