@import "vars";

.card {
	background-color: white;
	width: 80%;
	margin: 20px auto;
	padding: 25px 15px;

	box-shadow: $card-box-shadow;

	&.last-card {
		margin-bottom: 40px;
	}
}

@include media-md {
	.card {
		width: 95%;
	}
}