.for-scrolling {
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

#viewCourse h1 {
	font-size: 48px;
}

h2 {
	color: inherit;
}

.course-info{
	font-size: 16px;
	font-weight: 300;
}

.row {
	padding-bottom: 50px;
}

p.small {
	font-size: 16px;
}

button.add-btn {
	/*background-color: #52a2f1;
	border-color: #52a2f1;*/

	width: 35%;
	margin-left: 10%;
}

.icons > div {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 15px;
	padding: 0;
}

.icon {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 15px;
	font-size: 48px;
}

.panel a:hover {
	cursor: pointer;
}

.ratings {
	background-color: #fff;
	color: inherit;
}

.ratings .rating,
.ratings .description {
	padding: 25px 15px;
}

.ratings .chart {
	width: 100%;
}


.rating-wrap {
	border: 1px solid #c0392b;
	background-color: #ecf0f1;
	padding: 0;
}

.ratings .difficulty {
	margin-bottom: 15px;
}

.rating-wrap .rating {
	text-align: center;
	font-size: 18px;
}

.rating-wrap .rating span {
	font-size: 48px;
	font-weight: 700;
	color: #c0392b;
}

.rating-wrap .description {
	border-left: 1px solid #c0392b;
	font-size: 32px;
}

.rating-wrap .description > div {
	display: inline-block;
	float: left;
}


.description .prof-wrap {
	font-size: 16px;
}

.description .prof-wrap .prof {
	padding-left: 50px;
	margin-bottom: 25px;
}

.description .prof-wrap .prof > div {
	display: inline;
	position: relative;
}

.comments a {
	font-size: 16px;
}

#commentWrap {
	margin-top: 0;
}

.comment-wrap blockquote {
	margin-bottom: 30px;
}

.comment-wrap cite {
	float: right;
	margin-top: 16px;
}

.comment-wrap i {
	font-size: 16px;
}


#commentErrorMsg,
#commentSuccessMsg {
	position: absolute;
}

/*.comment-input input.form-control {
	width: 33%;
	display: inline-block;
}*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.ratings .description {
		border-left: 0;
		border-top: 1px solid #c0392b;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	button.btn-primary {
		width: 60%;
		margin: 15px 20%;
		height: 40px;
	}

	

	.icons {
		padding-bottom: 25px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}