/**
 * search.css
 * 4 jan 2017
**/


.search-box {
	border: 1px solid #c0392b;
	background-color: #ecf0f1;
	margin-top: 50px;
}


.search-results {
	margin-top: 25px;
	font-size: 18px;
}



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.content-wrap > div{
		padding: 0 15px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}