/**
 * search.css
 * 4 jan 2017
**/


hr {
	width: 85%;
}

.content-wrap {
	padding: 0 20px;
}

.search-box {
	border: 1px solid #c0392b;
	background-color: #F5D360;
	margin-top: 50px;
}

.search-results-wrap {
	margin-top: 25px;
	font-size: 18px;

	min-height: 400px;
}

.search-result {
	padding: 15px;
	font-size: 14px;
	color: #333;

	margin-bottom: 15px;

}

.search-result h2 {
	font-size: 26px;
}

.search-result h3 {
	font-size: 22px;
}

.search-result > div {
	padding: 0 10px;
}

.search-result > div:first-child {
	text-align: center;
}

.search-result > div:nth-child(2) {

	border-left: 1px solid #c0392b;
}

.search-result .rating {
	text-align: center;
	padding-bottom: 15px;
}

.search-result .rating .large {
	font-weight: 900;
	color: #c0392b;
	font-size: 22px;
}

.search-result h2,
.search-result h3,
.search-result p,
.search-result .info {
	margin: 0 0 10px 0;
}

.search-result .info div {
	padding: 0;
}

.search-result .info i {
	font-weight: 400;
}
.search-result .info span {
	color: #c0392b;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.content-wrap > div{
		padding: 0 15px;
	}

	.search-result {
		font-size: 14px;
	}
	.search-result h2 {
		font-size: 24px;
	}

	.search-result h3 {
		font-size: 20px;
	}

	.search-result .rating .large {
		font-size: 28px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.search-result > div:nth-child(2) {
		border: none;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}