html, body {
	width: 100%;
	height: 100%;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav.navbar {
	margin-bottom: 0;
}

.landing-page-wrap {
	width: 100%;
	height: 93%;
}

.landing-page {
	height: 60%;
	background-color: #c0392b;
}

.landing-page > div {
	text-align: center;
}

.hero {
	text-align: center;
	color: white;
	margin-top: 100px;
}

.hero .small {
	font-size: 16px;
}

.email {
	margin-top: 100px;
	color: white;
	text-align: center;
}

.email label {
	font-weight: 300;
	font-size: 16px;
}

.email .input-group {
	width: 30%;
}

.email input {
	display: inline;
	color: black;
}

.email .input-group-btn button {
	background-color: #e7e7e7;
	color: black;
}

.icons,
.content {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;	
}


.icon-wrap {
	text-align: center;
}

.icon-wrap img {
	height: 150px;
	margin-bottom: 20px;
}

.icon-wrap p {
	font-size: 16px;
}

.content input {
	width: 30%;
	margin-right: 35%;
}

.content-top {
	background-color: #f1c40f;
	text-align: left;
}

.content-top textarea {
	width: 100%;
	height: 250px;
}


.content-bottom {
	background-color: white;
}














.footer {
	height: 150px;
	background: #ecf0f1;
	color: #c0392b;
	padding: 40px 0 40px 0;
	text-align: center;
}

.footer .footer-links div {
	text-align: center;
}

.footer a {
	color: #42bcf4;
}





