.auth-redirect {
	text-align: center;
	padding-bottom: 50px;

	.auth-redirect-message {
		display: inline-block;
		font-size: 24px;
		font-weight: 500;
		padding: 75px 25px;
		border: 2px solid transparent;
		border-radius: 3px;

		&.success {
			border-color: $green;
			color: $green;
			background-color: $light-green;
		}

		&.error {
			border-color: $error-red;
			color: $error-red;
			background-color: $error-light-red;
		}

		&.loading {
			@extend .card;
		}

		.glyphicon {
			display: block;
			font-size: 72px;
			padding-bottom: 25px;
		}

		.auth-redirect-link {
			display: block;
			margin-top: 25px;
			font-size: 18px;
			font-weight: 300;
		}
	}
}