.incident-wrap {
	.incident-info {
		.incident-title {
			h1 {
				font-size: 48px;
				margin-top: 0;
				margin-bottom: 25px;
				display: inline-block;
			}

			.incident-status {
				margin-left: 10px;
				padding: 5px 8px;
				text-align: center;
				border-radius: 3px;
				border: 1px solid transparent;

				&.new {
					background-color: $error-light-red;
					border-color: $error-red;
					color: $error-red;
				}

				&.in-progress {
					background-color: $light-yellow;
					border-color: $yellow;
					color: $yellow;
				}

				&.resolved {
					background-color: $light-green;
					border-color: $green;
					color: $green;
				}
			}
		}

		p {
			font-size: 16px;
		}

		.incident-body {
			margin-top: 25px;

			.incident-body-item {
				margin-left: 10px;
			}
		}
	}

	.incident-actions {
		.incident-action {
			display: block;
			margin-bottom: 10px;

			&.action-approve {
				background-color: $light-green;
				border-color: $green;
				color: $green;

				&:hover {
					background-color: darken($light-green, 15%);
				}
			}

			&.action-reject {
				background-color: $error-light-red;
				border-color: $error-red;
				color: $error-red;
				&:hover {
					background-color: darken($error-light-red, 15%);
				}
			}

			&.disabled {
				background-color: $gray;
				border-color: $dark-gray;
				color: $dark-gray;
			}
		}
	}
}