$item-size: 18px;

.admin-sidebar-wrap {
	height: 100%;
	padding: 0;

	.admin-sidebar {
		height: 100%;
		background-color: $gray;
		border: 1px solid $red;
		padding: 0;

		.admin-sidebar-item {
			font-size: $item-size;
			font-weight: 500;
			color: $red;
			text-align: right;
			height: 75px;

			padding: 25px 15px 25px 0;
			border-bottom: 1px solid $red;
			cursor: pointer;

			&.active {
				background-color: white;
				box-shadow: 0px 3px 3px #888, 0px 3px 3px #888;
				@include transition(box-shadow 0.3s ease-in-out);
			}
		}
	}
}

@include media-md {
	.admin-sidebar-wrap .admin-sidebar .admin-sidebar-item {
		text-align: center;
	}
}