$profile-header-size: 48px;
$profile-subheader-size: 32px;

.user-profile-wrap {
	h1 {
		margin-top: 0;
	}

	h1.user-profile-name {
		font-size: $profile-header-size;
		margin-top: 0;
	}

	.user-profile-section {
		&.left {
			padding-right: 5px;
		}

		&.right {
			padding-left: 5px;
		}

		h1.user-profile-heading {
			margin: 15px 0;
		}
	}
	
	.user-profile-ratings-wrap {
		padding-right: 5px;
	}

	.user-profile-comments-wrap {
		padding-left: 5px;
	}

	.user-profile-image-wrap {
		width: 100%;

		.user-profile-image {
			width: 100%;
			border-radius: 100%;
		}
	}

}

@include media-sm {
	.user-profile-wrap {
		.user-profile-image-wrap {
			width: 25%;
		}
		
		.user-profile-section.left,
		.user-profile-section.right {
			padding: 0 15px;
		}
	}
	
}