.user-profile-friend {
	text-align: center;

	.user-profile-friend-img-wrap {
		width: 100%;
		padding-bottom: 5px;

		img.user-profile-friend-img {
			width: 100%;
			border-radius: 100%;
		}
	}
}

.no-friends {
	display: block;
	text-align: center;
	font-size: 18px;
}

.user-friends-modal {
	padding: 0;
}

.user-friend-row {
	padding: 10px;

	a:nth-child(2n) & {
		background-color: #fafbfb;
	}	

	.user-friend-row-img-wrap {
		$img-size: 75px;
		width: $img-size;
		height: $img-size;
		display: inline-block;

		.user-friend-row-img {
			width: 100%;
			height: 100%;
			border-radius: 100%;
		}
	}

	.user-friend-row-name {
		display: inline-block;
		color: #333;
		padding-left: 25px;
		font-size: 18px;
	}
}



.user-profile-view-all-friends {
	width: 100%;
	text-align: center;
	color: $link-blue;

	&:hover {
		cursor: pointer;
		color: $link-hover-blue;
		text-decoration: underline;
	}
}