.user-profile-info {
	.user-profile-details {
		padding-top: 20px;

		.user-profile-details-item {
			font-size: 16px;

				h3.user-profile-subheader {
				font-size: 22px;
			}

			&:last-child hr {
				display: none;
			}
		}
	}

	.user-profile-secondary-text {
		font-size: 14px;
		color: gray;
	}
}

.user-profile-settings {
	padding: 0 8px 8px 8px;

	fieldset {
		border-color: #c7c7c7;
	}
	
	legend {
		margin-bottom: 0;
	}
}

.umd-auth-status {
	padding: 3px 5px;
	border-radius: 3px;
	border: 1px solid transparent;
	display: inline-block;
	cursor: pointer;

	&.umd-auth-success {
		border-color: $green;
		color: $green;
		background-color: $light-green;
	}

	&.umd-auth-failure {
		border-color: $error-red;
		color: $error-red;
		background-color: $error-light-red;
	}
}