.user-profile-toggle {
	display: inline-block;
	vertical-align: middle;

	&.is-disabled .Select-control {
		cursor: progress;
	}

	.Select-control {
		margin-left: 10px;

		.Select-multi-value-wrapper {
			padding-right: 10px;
		}
	}

	.Select-menu-outer {
		margin-left: 10px;
	}
}