$main-hero-size:        48px;
$hero-subtitle-size:    22px;
$content-heading-size:  48px;

.home-wrap {
	margin-top: -15px;

	.home-landing {
		background-color: $red;
		padding-top: 50px;
		position: relative;

		.home-img {
			position: absolute;
			float: right;
			bottom: 0;
			right: 40px;
		}

		h1 {
			font-size: $main-hero-size;
		}
	}

	.home-icon-list {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: white;

		.home-icon-wrap img {
			height: 150px;
			margin-bottom: 20px;
		}
	}
}

.home-hero-wrap {
	position: relative;

	.home-hero {
		text-align: center;
		color: white;
		top: 100px;
	}

	.home-hero-subtitle {
		text-align: center;
		color: white;
		padding: 15px 0 60px 0;

		h2 {
	    overflow: hidden;
	    text-align: center;
	    font-weight: 200;
	    font-size: $hero-subtitle-size;

	    &:before,
	    &:after {
		    background-color: white;
		    content: "";
		    display: inline-block;
		    height: 1px;
		    position: relative;
		    vertical-align: middle;
		    width: 5%;
	    }
		}

		i {
			padding: 0 5px;
			font-style: normal;
		}
	}
}

.home-content-wrap {
	background-color: $gray;
	padding-top: 25px;
	padding-bottom: 25px;

	.home-content-heading {
		text-align: center;
		color: $red;
		font-size: $content-heading-size;
		font-weight: 500;
		padding-bottom: 15px;
	}

	.home-content-item {
		padding-bottom: 40px;

		.home-content-img {
			width: 100%;
			padding-top: 10px;
		}

		.home-content-title {
			margin-top: 0;
		}
	}

	.home-coming-soon {
		padding-top: 20px;
	}
}

.home-feedback {
	background-color: $red;
	color: white;
	padding-top: 20px;

	label {
		color: white;
	}
}

.home-version {
	.home-version-title i.home-version-date {
		font-size: 16px;
		font-weight: 200;
	}
}