.content-wrap {
	padding: 25px 15px 50px 15px;
	font-size: 16px;

}

.small {
	font-size: 12px;
}

.info-wrap h1 {
	font-size: 48px;
}

.content-wrap .row {
	padding: 0;
	margin: 0;
}

.button-wrap {
	width: 100%;
	text-align: center;
}

.description > div, 
.interest > div {
	padding: 15px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.icons {
		padding-bottom: 25px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

	
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	
}