/* GLOBALS */
html, body {
	width: 100%;
	height: 100%;

	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.for-scrolling {
	height: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.hidden {
	display: none;
}

.success-msg {
	color: #3c763d;
}

.error-msg {
	color: #a94442;
}

.modal .modal-header,
.modal .modal-footer {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #c0392b;
	color: white;
}

.modal .modal-title,
.modal .modal-body {
	font-weight: 300;
}

.modal .modal-body {
	font-size: 16px;
}

.modal .modal-footer button {
	display: none;
}

.nav-header-wrap {
	width: 100%;
	height: 80px;
	line-height: 80px;

	text-align: center;
	padding: 0;

	font-size: 40px;
	font-weight: 700;
	color: #c0392b;

	font-family: "Lobster", "Helvetica Neue", Helvetica;
}

.content .nav-header-wrap {
	background-color: #c0392b;
	color: white;
}

.nav-header-wrap a,
.nav-header-wrap a:hover {
	color: inherit;
	text-decoration: none;
}

/* RATINGS FORM */
legend {
	display: block;
	width: auto;
	padding: 0 5px;
	font-size: inherit;
	line-height: inherit;
	border: auto;
	border-bottom: none;
	color: #c0392b;
	font-size: 18px;
	font-weight: 300;
}

fieldset {
    border: 1px solid #c0392b;
    padding: 0 15px;
}

label {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
}


.form-group {
	margin-top: 24px;
}

#courseInputWrap {
	margin-top: 0;
}

.form-wrap .glyphicon {
	font-size: 22px;
	color: #c0392b;
	margin-top: 5px;
}

.form-wrap .glyphicon:hover {
	cursor: pointer;
}

.form-wrap .help-block {
	font-size: 12px;
	margin-bottom: 0;
}


#courseSuccessMsg,
#courseErrorMsg,
#profErrorMsg {
	position: absolute;
	visibility: hidden;
}

#courseSuccessMsg {
	font-size: 14px;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

/* FOOTER */
.footer {
	height: 150px;
	background: #ecf0f1;
	color: #c0392b;
	padding: 40px 0 40px 0;
	text-align: center;
}


.footer .footer-links div {
	text-align: center;
}








