@import "partials/main";
@import "partials/ratings";
@import "partials/content";


// wraps all content
.home-wrap {
	width: 100%;
	height: 93%;

	font-size: 18px;

	// landing page wrap
	.landing {
		height: 65%;
		background-color: $red;
		position: relative;

		// schedule image
		.img-wrap {
			padding-top: 25px;
			position: absolute;
			bottom: 0;
			float: right;
			right: 25px;
		}
	}

	.content {
		img {
			padding-top: 10px;
		}

		.content-desc {
			padding-left: 15px;
		}
	}

	.coming-soon-content {
		padding-top: 20px;
	}
	

	.rating-wrap {
		padding-left: 30px;
	}

	// icon row
	.icons {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;

		.icon-wrap img {
			height: 150px;
			margin-bottom: 20px;
		}
	}

	.feedback {
		background-color: $red;
		color: white;
		padding: 50px 0;
	}
}

// home page hero
.hero-wrap {
	position: relative;
	height: 100%;

	.hero {
		text-align: center;
		color: white;
		position: relative;
		top: 100px;

		h1 {
			font-size: 48px;
		}
	}

	.subtitle {
		width: 100%;
		text-align: center;
		position: absolute; 
		color: white;
		left: 0;
		bottom: 50px;

		h2 {
		    overflow: hidden;
		    text-align: center;
		    font-weight: 200;
		    font-size: 22px;

		    &:before,
		    &:after {
			    background-color: white;
			    content: "";
			    display: inline-block;
			    height: 1px;
			    position: relative;
			    vertical-align: middle;
			    width: 5%;
		    }
		}

		i {
			font-size: 22px;
			padding: 0 5px;
			font-style: normal;
		}
	}
}

@include media-md {
	.features {
		h2 {
			color: $red;
		}
	}
	.example {
		&.fb,
		&.search,
		&.info,
		&.course {
			padding-left: 50px;
			padding-right: 50px;
		}
	}
}

