@import "partials/main";
@import "partials/ratings";
@import "partials/card";


// wraps all content
.home-wrap {
	width: 100%;
	height: 93%;

	font-size: 18px;

	// landing page wrap
	.landing {
		background-color: $red;
		padding-top: 50px;
		position: relative;

		// schedule image
		.img-wrap {
			position: absolute;
			float: right;
			bottom: 0;
			right: 40px;
		}
	}

	.coming-soon-content {
		padding-top: 20px;
	}

	// icon row
	.icons {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;

		.icon-wrap img {
			height: 150px;
			margin-bottom: 20px;
		}
	}

	.feedback {
		background-color: $red;
		color: white;
		padding: 50px 0;
	}
}


// home page hero
.hero-wrap {
	position: relative;

	.hero {
		text-align: center;
		color: white;
		top: 100px;

		h1 {
			font-size: 48px;
		}
	}

	.subtitle {
		width: 100%;
		text-align: center;
		color: white;
		padding: 15px 0 60px 0;

		h2 {
		    overflow: hidden;
		    text-align: center;
		    font-weight: 200;
		    font-size: 22px;

		    &:before,
		    &:after {
			    background-color: white;
			    content: "";
			    display: inline-block;
			    height: 1px;
			    position: relative;
			    vertical-align: middle;
			    width: 5%;
		    }
		}

		i {
			font-size: 22px;
			padding: 0 5px;
			font-style: normal;
		}
	}
}

.content {
	background-color: $gray;
	padding-top: 25px;
	padding-bottom: 25px;

	.content-heading {
		background-color: $gray;
		text-align: center;
		color: $red;
		font-size: 48px;
		font-weight: 500;
		padding-bottom: 15px;
	}

	h2 {
		margin-top: 0;
	}

	img {
		padding-top: 10px;
	}

	.content-desc {
		padding-left: 15px;
	}

	.content-list {
		background-color: white;
		width: 80%;
		margin: 0 auto;
		padding: 20px 35px;

		.content-item {
			padding-bottom: 40px;
		}
	}
}


@include media-md {
	.landing {
		height: auto;

		.hero-wrap {
			.hero {
				top: 10px;
			}
			.subtitle {
				bottom: 20px;
			}
		}
	}

	.content .content-list {
		width: 95%;
	}
	
	.rating-wrap {
		margin-left: -25px;
		margin-right: -25px;
	}
}
