@import "partials/main";
@import "partials/ratings";

body {
	font-size: 16px;
}

h1 {
	font-size: 48px;
}

.red {
	color: $red;
}

.info {
	span {
		padding-right: 10px;
	}
}

.row {
	margin-left: 0;
	margin-right: 0;
}


.comment-wrap {
	word-wrap: break-word;
	font-size: 16px;

	a {
		margin-left: 5px;
	}

	.comment {
		padding-bottom: 15px;

		&:first-child {
			padding-top: 30px;
		}
	}

	blockquote {
		display: block;
	}

	cite {
		margin-top: 15px;
		float: right
	}
}


.comment-input {
	font-size: 14px;
	padding: 10px;

	.button-wrap {
		margin-bottom: 10px;

		.btn {
			width: 100%;
		}
	}
}

.breakdown-wrap {
	background-color: $gray;
	border: 1px solid $red;
	margin-bottom: 20px;

	.average,
	.breakdown {
		padding: 25px 15px;
		font-size: 16px;
	}

	.average {
		text-align: center;
		font-size: 18px;
		
		.value {
			font-size: 48px;
			font-weight: 700;
			color: $red;
		}
	}

	.breakdown {
		border-left: 1px solid $red;

		canvas {
			margin-top: 35px;
		}

		.progress-bars {
			padding-bottom: 20px;
		}

		.custom-progress {
			margin: 20px auto;

			& > div {
				display: inline;
				position: relative;
			}
			
		}

		& > div {
			display: inline-block;
			float: left;
			padding: 0 20px;
		}
	}
}


@include media-md {
	.comment-input {
		.feedback-wrap {
			margin: 10px auto;
		}
	}

	.breakdown-wrap {
		.breakdown {
			border-left: 0;
			border-top: 1px solid $red;

			.progress-bars {
				width: 100%;
			}
		}
	}

}