@import "partials/main";
@import "partials/ratings";
@import "partials/comments";
@import "partials/card";

body {
	font-size: 16px;
	background-color: $gray;
}

h1 {
	font-size: 48px;
}

.red {
	color: $red;
}

.comment-input {
	.button-wrap {
		margin-bottom: 10px;

		.btn {
			width: 100%;
		}
	}
}

.breakdown-wrap {
	.average,
	.breakdown {
		padding: 25px 15px;
		font-size: 16px;
	}

	.average {
		text-align: center;
		font-size: 18px;
		
		.value {
			font-size: 48px;
			font-weight: 700;
			color: $red;
		}
	}

	.breakdown {
		border-left: 1px solid $red;

		canvas {
			margin-top: 35px;
		}

		.progress-bars {
			padding-bottom: 20px;
		}

		.custom-progress {
			margin: 20px auto;

			& > div {
				display: inline;
				position: relative;
			}
			
		}

		& > div {
			display: inline-block;
			float: left;
			padding: 0 20px;
		}
	}
}


@include media-md {
	.comment-input {
		.feedback-wrap {
			margin: 10px auto;
		}
	}

	.breakdown-wrap {
		.breakdown {
			border-left: 0;
			border-top: 1px solid $red;

			.progress-bars {
				width: 100%;
			}
		}
	}

}