@import "partials/main";
@import "partials/card";
@import "partials/ratings";

$yellow: #f5d360;
$summary-transition: background-color 0.2s ease-in-out;

body {
	background-color: $gray;
}

.search-wrap {
	padding: 10px;

	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.search-box-wrap {
		padding: 0;
	}
}

.search-box {
	background-color: $yellow;
	border: 1px solid $red;
	padding-bottom: 20px;
	box-shadow: $card-box-shadow;
	border-radius: $card-border-radius;
}

.summary-wrap {
	padding: 15px 25px;
	box-shadow: $card-box-shadow;
	border-radius: $card-border-radius;
	margin-bottom: 10px;
	@include transition($summary-transition);

	&.fix {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		background-color: $red;
		width: 100%;
		color: white;

		box-shadow: 0px 3px 3px #888, 0px 3px 3px #888;

		@include transition($summary-transition);

		a,
		a:hover {
			color: white;
		}
	}

	.summary {
		font-size: 18px;
		font-weight: 500;
	}

	a {
		cursor: pointer;
		padding: 0 5px;
	}

	background-color: white;

}

.search-results-wrap {
	padding: 15px 10px;

	.empty {
		font-size: 18px;
	}
}

.search-result {
	padding: 15px;
	font-size: 14px;
	color: #333;

	margin-bottom: 15px;

	h2, h3, p, .info {
		margin: 0 0 10px 0;
	}

	h2 {
		font-size: 26px;
	}

	h3 {
		font-size: 22px;
	}

	& > div {
		padding: 0 10px;

		&:first-child {
			text-align: center;
		}

		&:nth-child(2) {
			border-left: 1px solid $red;
		}
	}

	.description > div {
		padding-left: 0;
		padding-right: 0;
	}

	.rating {
		text-align: center;
		padding-bottom: 15px;

		.large {
			font-weight: 900;
			color: $red;
			font-size: 22px;
		}
	}

	.info {
		div {
			padding: 0;
		}

		i {
			font-weight: 400;
		}

		span {
			color: $red;
		}
	}	
}

.rating-form {
	margin-left: 20px;
	margin-right: 20px;
}

@include media-sm {
	.search-result {
		& > div:nth-child(2) {
			border-left: 0;
			border-top: 1px solid $red;
		}
		h2 {
			font-size: 32px;
		}
		.rating {
			margin-top: 20px;

			.large {
				font-size: 28px;
			}
		}
	}
}